<div class="holder">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
    <div class="txt">
      <h1>Sharee</h1>
      <p>リアルタイムで情報を共有できるハイテクな時代の中で</p>
      <p>メモをシェアするという少し変わった体験を</p>
   <%= link_to "新規会員登録", new_user_registration_path, class: 'btn1' %>
   <%= link_to "ログイン", new_user_session_path, class: 'btn2' %>
    </div>
  </div>