.wrapper {
  display: flex;
  background-color: bisque;
}
.side-bar {
  background-color: bisque;
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 90px;
  padding: 0 20px;
  background-color: #08afbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 24px;
  color: #FAFAFA;
  font-family: "Yu Gothic", "游ゴシック", "游ゴシック体";
  text-decoration: none;
}

.memo {
  background-color: bisque;
  width: calc(100% - 300px);
  border-radius: 12px;
}
.memo-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}
.header-title {
  color: #333;
  font-size: 30px;
  margin-top: 36px;
  font-family: "Yu Gothic", "游ゴシック", "游ゴシック体";
  font-weight: bold;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid#f72702;
  color: #f72702;
  padding: 10px;
}
.header-button a:hover {
  background-color: #f72702;
  border-color: #f72702;
  color: #FFF;
}
.memos {
  background-color: bisque;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.upper-memo{
  display: flex;
}

.memo-user {
  color: #434a54;
  font-size: 13px;
  font-weight: bold;
  padding-left: 10px;
}

.memo-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
  
}
.memo-delete{
  font-size: 12px;
  padding-left: 550px;
}
.memo-delete a{
  text-decoration: none;
  color: #000;
}

.lower-memo {
  margin-top: 10px;
}

.memo-content {
  color: #434a54;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.form {
  background-color:  #08afbb;
  height: 90px;
  padding: 20px 25px;
}
.form-form {
  display: flex; 
}
.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-memo {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #f72702;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-submit:hover {
  background-color: rgb(245, 129, 129);;
  border-color: #f72702;
  color: #FFF;
}
.form-image {
  font-size: 12px;
  background-color: rgb(245, 129, 129);
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.form-image:hover {
  background-color: #f72702;
  border-color: #f72702;
  color: #FFF;
}
.hidden {
  display: none;
}
