<div class="side-bar-header">
  <div class="header-name">
     <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "メモを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
 <div class = "room_list">
   <a>ルーム名</a>
 </div>
  <div class="room">
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
          <%= link_to room.name, room_memos_path(room.id) %>
      </div>
    </div>
  <% end %>
  </div>
</div>